.box {
  width: 200px;
  height: 200px;
  background: #00c1de;
  color: #451aaa;
  font-max-size: 23px; }
  .box .son, .box .sun {
    width: 200px; }

.sun {
  background: #1C2327;
  color: #2edc6d;
  border-radius: 5px;
  font-size: 20px; }
  .sun a {
    font-weight: 800;
    font-size: 21px;
    margin-left: 0; }

.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

p:before {
  content: "Foo Bar";
  font-family: sans-serif; }

p {
  color: green; }

.ss {
  width: 200px; }
